tensorflow==2.3.1
numpy~=1.19.2
pandas~=1.1.4
sklearn~=0.0
scikit-learn~=0.23.2
imgaug~=0.4.0
matplotlib~=3.3.2
tqdm~=4.49.0
pytest~=6.0.2
setuptools~=50.3.2
torch~=1.6.0
opencv-python~=4.4.0.44
torchsummary~=1.5.1
opacus~=0.9.1
fastapi~=0.61.2
pydantic~=1.7.2
peewee~=3.14.0