# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Fetch AI Collective Learning Interface

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 8 * * 5'


jobs:
  code_quality_checks_pytest:

    continue-on-error: False
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Run Tox Pytest
      run: tox -e pytest -e docs
