# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Fetch AI Collective Learning Interface

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  code_quality_checks:

    continue-on-error: False
    runs-on: ubuntu-latest
    timeout-minutes: 11
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Cache pip		
      uses: actions/cache@v2		
      with:		
         # This path is specific to Ubuntu		
         path: ${{ env.pythonLocation}}		
         # Look to see if there is a cache hit for the corresponding requirements file		
         key: ${{ env.pythonLocation}}-${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}		
         restore-keys: |		
           ${{ runner.os }}-pip-		
           ${{ runner.os }}-		
    - name: Install pip dependencies		
      run: pip install -r requirements.txt
    - name: Install dependencies
      run: pip install tox
    - name: Run Tox style checks
      run: tox -e flake8 -e mypy -e pylint

