# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: PR Checks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  code_quality_checks:

    continue-on-error: False
    runs-on: ubuntu-latest
    timeout-minutes: 11
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install tox
    - name: Style checks
      run: tox -e flake8 -e pylint
    - name: Type checking
      run: tox -e mypy
    - name: Short pytests
      run: tox -e pytest3.6 -e pytest3.7 -e pytest3.8
    - name: Build docs
      run: tox -e docs
    - name: Check copyright notice
      run: tox -e copyright_check

