# This workflow will install Python dependencies, build and push the docs

name: Update Docs

on:
  push:
    branches: [ master ]

jobs:
  update_docs:
    continue-on-error: False
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v4
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install .[docs]
    - name: Push docs
      run: |
        git fetch origin gh-pages:gh-pages
        mkdocs gh-deploy